.dt-button.featured,
input[type=submit].solid,
input[type=reset].solid,
input[type=button].solid {
    background: #fe7e17;
    border-color: #fe7e17;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
    border-color: #fe7e17;
    background: #fe7e17
}
button:hover {
    border-color: #fe7e17;
    background-color: #fe7e17;
}
.dt-button.button-primary:focus,
.dt-button.button-primary:hover,
button.button-primary:focus,
button.button-primary:hover,
input[type=submit].button-primary:focus,
input[type=submit].button-primary:hover,
input[type=reset].button-primary:focus,
input[type=reset].button-primary:hover,
input[type=button].button-primary:focus,
input[type=button].button-primary:hover {
    color: #fff;
    background-color: #fe7e17;
    border-color: #fe7e17;
}
.author-bio .author-description h3 a:hover,
.main-navigation a:hover,
.main-navigation.dark-header a:hover,
.nav-links a:hover,
.pagenav a:hover,
.pagenav span.current,
a {
    color: #fe7e17;
}
#spinner:before {
    border-top: 2px solid #fe7e17;
    border-left: 2px solid #fe7e17
}
#comments .commentwrap .metacomment a.comment-reply-link {
    border: 1px solid;
}
#comments .commentwrap .metacomment a.comment-reply-link:hover {
    color: #fff;
    background: #fe7e17;
    border-color: #fe7e17;
}
.dt-hexagon i,
.dt-hexagon span,
.dt-services-grid .delicious-service .delicious-service-icon,
.entry-header h1.entry-title a:hover,
.entry-header h2.entry-title a:hover,
.member-wrapper .member-info .member-meta span,
.page-template-template-blog .grid-content .has-post-thumbnail .post-overlay:hover .cat-links a:hover,
.page-template-template-blog .grid-content .has-post-thumbnail .post-overlay:hover .entry-header h2.entry-title a:hover,
.portfolio .grid-item-on-hover h3 a:hover,
.process-item-title .pi-title,
.projnav li span:hover,
.svg-title span,
.testimonial-position,
.thin-fill .dt-service-icon,
.widget-area a:hover {
    color: #fe7e17;
}
.no-fill .dt-service-icon * {
    color: #fe7e17;
}
#comments #cancel-comment-reply-link {
    border: 1px solid
}
#comments #cancel-comment-reply-link:hover {
    background: #fe7e17;
    border-color: #fe7e17;
}
.site-footer #social li a:hover,
#headersocial li a:hover,
.widget-area .tagcloud a:hover {
    background-color: #fe7e17;
    border-color: #fe7e17;
}
#dt-social-widget li a:hover {
    background: #fe7e17;
}
html .mc4wp-form .form-wrapper input[type=submit]:hover {
    background-color: #fe7e17;
}
.share-options a:hover {
    background: #fe7e17;
}
.dt-hexagon,
.dt-hexagon:before {
    border-right: 2px solid #fe7e17
}
.dt-hexagon,
.dt-hexagon:after {
    border-left: 2px solid #fe7e17
}
.dt-hexagon:before {
    border-top: 2px solid #fe7e17;
}
.dt-hexagon:after {
    border-bottom: 2px solid #fe7e17;
}
.dt-hexagon:hover {
    background-color: #fe7e17;
}
.bold-fill .dt-service-icon i,
.bold-fill .dt-service-icon span,
.svg-title svg {
    border: 1px solid;
}
.svg-title svg path,
.svg-title svg polygon,
.svg-title svg rect {
    fill: #fe7e17;
}
.clients-carousel .owl-dot.active,
.testimonials-carousel .owl-dot.active,
.twitter-carousel .owl-dot.active {
    background: #fe7e17;
    border-color: #fe7e17;
}

.main-navigation ul ul li.current-menu-item a,
.dt-blog-carousel h3.entry-title a:hover {
    color: #fe7e17;
}
.dt-blog-carousel a.excerpt-read-more span:hover {
    color: #fe7e17;
    border-color: #fe7e17;
}
.dt-blog-carousel .post-thumbnail .post-icon {
    background: #fe7e17;
}
html .member-wrapper .member-info .member-social ul li a:hover,
 
.work-cta:hover {
    background: #fe7e17;
}
::-webkit-scrollbar-thumb:hover {
    background: #fe7e17;
}
.pagenav span.current,
.pagenav a:hover {
    border-color: #fe7e17;
}
.contact-footer span[class*="icon-"],
.contact-footer a:hover {
    color: #fe7e17;
}
.text-on-thumbnail .grid-item-on-hover.style-2 .grid-text {
    background: #fe7e17 !important;
}
html ul.dt-tabs li:hover,
html ul.dt-tabs li.current span.dt-tab-title,
html ul.dt-tabs li.current span.dt-tab-count,
.dt-breadcrumbs a,
.dt-play-video a:hover,
html .contact-footer span[class*="icon-"],
aside[id^="woocommerce_"] li a:hover,
html .woocommerce ul.products li.product a h3:hover,
html .portfolio.portfolio-layout-mosaic li .dt-awesome-project h3 a:hover {
    color: #fe7e17;
}
html a.cat-trigger,
html .portfolio.portfolio-layout-mosaic li .dt-awesome-project h3 a:after,
html .bold-fill .dt-service-icon i,
html .bold-fill .dt-service-icon span {
    background: #fe7e17;
}
html .thin-fill .dt-service-icon span,
html .thin-fill .dt-service-icon i {
    border-color: #fe7e17;
    color: #fe7e17;
}