/* line 8, ../scss/jenny.scss */
::-webkit-scrollbar-thumb:hover,
-moz::selection, ::selection {
  background: #38AFEA;
}

/* line 12, ../scss/jenny.scss */
header#header {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

/* line 17, ../scss/jenny.scss */
a {
  /*	color:$navBlue !important;*/
}
/* line 19, ../scss/jenny.scss */
a:hover {
  color: #38AFEA !important;
}

/* line 24, ../scss/jenny.scss */
.logo-jzb {
  border: 3px solid #38AFEA;
  color: #38AFEA;
  padding: 4px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}
/* line 30, ../scss/jenny.scss */
.logo-jzb:hover {
  color: #ffffff;
  background-color: #38AFEA;
}

/* line 38, ../scss/jenny.scss */
.dt-separator:after {
  background: #ffffff;
}

/* line 43, ../scss/jenny.scss */
.whitetext {
  color: #ffffff;
}

/* line 47, ../scss/jenny.scss */
.capitals {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 52, ../scss/jenny.scss */
#homepage-hexagons-intro.blue-bb {
  background-color: #38AFEA;
}
/* line 54, ../scss/jenny.scss */
#homepage-hexagons-intro.blue-bb h1 {
  color: white;
}

/* line 59, ../scss/jenny.scss */
.main-navigation ul#primary-menu > li.menu-item-has-children:after {
  display: none;
}

/*.main-navigation{
    margin-right: 8rem;
}*/
/*//ICONS//*/
/* line 69, ../scss/jenny.scss */
.dt-hexagon,
.dt-hexagon:before {
  border-right: 2px solid #ffffff;
}

/* line 73, ../scss/jenny.scss */
.dt-hexagon,
.dt-hexagon:after {
  border-left: 2px solid #ffffff;
}

/* line 77, ../scss/jenny.scss */
.dt-hexagon:before {
  border-top: 2px solid #ffffff;
}

/* line 80, ../scss/jenny.scss */
.dt-hexagon:after {
  border-bottom: 2px solid #ffffff;
}

/* line 83, ../scss/jenny.scss */
.dt-hexagon:hover {
  background-color: transparent;
}

/* line 87, ../scss/jenny.scss */
.dt-hexagon, .dt-hexagon:after {
  background-color: #38AFEA;
}

/* line 91, ../scss/jenny.scss */
.icon-pencil:before,
.icon-camera:before,
.dt-hexagon i {
  color: #ffffff;
}

/* line 98, ../scss/jenny.scss */
i.fa.fa-code {
  -webkit-text-stroke: 2px #38AFEA;
}

/* line 105, ../scss/jenny.scss */
.skills .icon-pencil:before,
.skills .icon-camera:before,
.skills .no-fill .dt-service-icon *,
.skills .dt-hexagon i {
  color: #273C57;
}
/* line 112, ../scss/jenny.scss */
.skills i.fa.fa-code {
  -webkit-text-stroke: 2px white;
}

/* line 119, ../scss/jenny.scss */
.projects-header-container {
  background-color: #273C57;
}
/* line 121, ../scss/jenny.scss */
.projects-header-container h2 {
  padding: 90px;
}

/* line 127, ../scss/jenny.scss */
.dark-background {
  background-color: #273C57;
  color: white;
}
/* line 130, ../scss/jenny.scss */
.dark-background h2, .dark-background h4, .dark-background span {
  color: white;
}
/* line 133, ../scss/jenny.scss */
.dark-background a {
  color: #38AFEA;
}
/* line 137, ../scss/jenny.scss */
.dark-background a:hover {
  color: white !important;
}
